<div class="balance">
  <div class="wrapper wrapper-balance">
    <p class="text text-balance__title">Your balance</p>
    <button
      type="button"
      class="button button-balance"
      (click)="showBankBalances()"
      *ngIf="!buttonClicked"
    >
      Show Balance
    </button>
    <button
      type="button"
      class="button button-balance"
      (click)="hideBankBalance()"
      *ngIf="buttonClicked"
    >
      Hide Balance
    </button>
    <div class="text text-balance" *ngIf="showBalances">{{ balance }} UAH</div>
    <ul class="bank-list" *ngIf="showBalances">
      <li *ngFor="let balance of balanceList[0]?.balances || []">
        {{ balance.bankName }}: {{ balance.amount }} UAH
      </li>
    </ul>
  </div>
</div>
