@import "./assets/styles/reset";
@import "./assets/styles/variables";
@import "./assets/styles/wrapper";
@import "./assets/styles/text";
@import "./assets/styles/form";
@import "./assets/styles/general";
@import "./assets/styles/button";
@import "./assets/styles/modal";

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  cursor: pointer;
}

.purple-icon {
  color: $purple;
}

mat-form-field {
  width: 100%;
}
