.button {
  border-radius: 15px;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  padding: 8px 30px;
  border: none;
  color: $white;
  cursor: pointer;
  transition: all 0.3s;

  &-primary {
    background: $purple;
    border: 1px solid $purple;

    &:hover {
      background: $white;
      color: $purple;
    }
  }

  &-secondary {
    background: $black;
    border: 1px solid $black;

    &:hover {
      background: $white;
      color: $black;
    }
  }

  &-small {
    background: $pink;
    font-size: 16px;
    padding: 7px 16px;
    border: 1px solid $pink;

    &:hover {
      background: $white;
      color: $pink;
    }
  }

    &-small-danger {
    background: $red;
    font-size: 16px;
    padding: 7px 16px;
    border: 1px solid $red;

    &:hover {
      background: $white;
      color: $red;
    }
  }

  &-modal {
    border-radius: 15px;
    font-size: 14px;
    padding: 8px 22px;
    cursor: pointer;
    transition: all 0.3s;
    background: $purple;
    border: 1px solid $purple;
  }

  &-modal-danger {
    border-radius: 15px;
    font-size: 14px;
    padding: 8px 22px;
    cursor: pointer;
    transition: all 0.3s;
    background: $red;
    border: 1px solid $red;
  }

  &-modal-x {
    cursor: pointer;
    transition: all 0.3s;
    background: $red;
    border: 1px solid $red;
    padding: 3px 4px 2px;
    font-size: 10px;
    border-radius: 30px;
  }

  &-balance {
    align-self: flex-end;
    background-color: $white;
    color: $pink;
    font-size: 15px;
    padding: 0;
  }
}
